
.Board {
  height: 22vw;
  width: 22vw;
  margin: auto;
}

.square {
  height: 7vw;
  width: 7vw;
  text-align: center;
  font-size: 5vw;
}
.empty-square:hover {
  cursor: pointer;
  background-color: lightgray;
}

.row0, .row1 { border-bottom: 3px black solid; }
.col0, .col1 { border-right: 3px black solid; }

.board-row {
  display: flex;
}

.message {
  width: 60%;
  margin: 1vw auto auto auto;
  text-align: center;
  font-size: 2vw;
}

.button {
  height: 3vw;
  width: 40%;
  margin: 2vw auto auto auto;
  text-align: center;
}
.button button {
  height: 100%;
  width: 40%;
  font-size: 2vw;
  border: none;
  border-radius: 15px;
}
.button button:hover {
  cursor: pointer;
}