@media screen and (orientation: portrait) {
  .display {
    width: 100%;
    height: 50vh;
    margin: 10vh auto auto auto;
    display: block;
  } 
  .leftBlock {
    width: 80%;
    height: 45%;
    margin: auto;
  }
  
  .rightBlock {
    width: 100%;
    height: 25%;
    margin: 3vh auto;
  }
  
.Board { 
  height: 100%;
  width: 100%;
  margin: auto;
}

.board-row {
  width: 100%;
  height: 33%;
  display: flex;
}
.square {
  height: 100%;
  width: 33%;
  text-align: center;
  font-size: 5vh;
  font-weight: 700;
  background: linear-gradient(
    165deg,
    hsl(240deg 100% 50%) 0%,
    hsl(228deg 100% 50%) 0%,
    hsl(223deg 100% 50%) 0%,
    hsl(219deg 100% 50%) 0%,
    hsl(215deg 100% 50%) 0%,
    hsl(212deg 100% 50%) 1%,
    hsl(209deg 100% 50%) 2%,
    hsl(206deg 100% 50%) 3%,
    hsl(203deg 100% 50%) 5%,
    hsl(201deg 100% 50%) 8%,
    hsl(198deg 100% 50%) 13%,
    hsl(201deg 100% 63%) 20%,
    hsl(203deg 100% 71%) 35%,
    hsl(203deg 98% 76%) 62%,
    hsl(202deg 89% 81%) 80%,
    hsl(201deg 75% 85%) 92%,
    hsl(200deg 53% 90%) 100%
  );
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
}
.empty-square:hover {
  cursor: pointer;
  background: rgb(241, 241, 241);
}
.row1, .row2 { border-top: 3px rgb(22, 148, 245) solid; }
/* .row1, .row2 { margin-top: 3px; } */
.col0, .col1 { border-right: 3px rgb(22, 148, 245) solid; }

.message {
  width: 100%;
  height: 65%;
  margin: auto auto auto auto;
  text-align: center;
  font-size: 2.5vh;
}

.button {
  height: 30%;
  width: 90%;
  margin: auto auto auto auto;
  text-align: center;
}
.button button {
  height: 100%;
  width: 40%;
  font-size: 2vh;
  border: none;
  border-radius: 15px;
  color: rgb(230, 230, 230);
  
  background-image: linear-gradient(
    165deg,
    hsl(240deg 100% 50%) 0%,
    hsl(228deg 100% 50%) 0%,
    hsl(223deg 100% 50%) 0%,
    hsl(219deg 100% 50%) 0%,
    hsl(215deg 100% 50%) 0%,
    hsl(212deg 100% 50%) 1%,
    hsl(209deg 100% 50%) 2%,
    hsl(206deg 100% 50%) 3%,
    hsl(203deg 100% 50%) 5%,
    hsl(201deg 100% 50%) 8%,
    hsl(198deg 100% 50%) 13%,
    hsl(201deg 100% 63%) 20%,
    hsl(203deg 100% 71%) 35%,
    hsl(203deg 98% 76%) 62%,
    hsl(202deg 89% 81%) 80%,
    hsl(201deg 75% 85%) 92%,
    hsl(200deg 53% 90%) 100%
  );
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}
.button button:hover {
  cursor: pointer;
  color: white;
  background-image: linear-gradient(
    165deg,
    hsl(205deg 100% 50%) 0%,
    hsl(202deg 100% 50%) 1%,
    hsl(199deg 100% 50%) 2%,
    hsl(196deg 100% 50%) 3%,
    hsl(203deg 100% 50%) 5%,
    hsl(201deg 100% 50%) 8%,
    hsl(198deg 100% 50%) 13%,
    hsl(199deg 100% 63%) 20%,
    hsl(200deg 100% 71%) 35%,
    hsl(197deg 98% 76%) 62%,
    hsl(198deg 89% 81%) 80%,
    hsl(200deg 75% 85%) 92%,
    hsl(200deg 53% 90%) 100%
  );
  transition:ease-in 0.2s;
}
}